/.metadata/*.log
/.metadata
/pkg/windows_amd64/golang.org/x/tools/go/callgraph/*.a
*.a
/src/github.com/BurntSushi/toml
/src/github.com/Sirupsen/logrus
/src/github.com/ayufan/golang-kardianos-service
/src/github.com/codegangsta/cli
/src/github.com/docker/docker
/src/github.com/docker/go-units
/src/github.com/fsouza/go-dockerclient
/src/github.com/fzipp/gocyclo
/src/github.com/golang/lint
/src/github.com/hashicorp/go-cleanhttp
/src/github.com/jteeuwen/go-bindata
/src/github.com/kardianos/osext
/src/github.com/lukehoban/go-outline
/src/github.com/minio/minio-go
/src/github.com/mitchellh/gox
/src/github.com/mitchellh/iochan
/src/github.com/newhook/go-symbols
/src/github.com/nsf/gocode
/src/github.com/opencontainers/runc
/src/github.com/rogpeppe/godef
/src/github.com/stretchr/testify
/src/github.com/tpng/gopkgs
/src/github.com/urfave/cli
/src/gitlab.com/ayufan/golang-cli-helpers
/src/gitlab.com/gitlab-org/gitlab-ci-multi-runner
/src/gitlab.com/warren.postma/go-lang-playground
/src/golang.org/x/tools
/src/gopkg.in/urfave/cli.v1
/src/gopkg.in/yaml.v2
/src/sourcegraph.com/sqs/goreturns
/bin/cover.exe
/bin/go-bindata.exe
/bin/go-outline.exe
/bin/go-symbols.exe
/bin/gocode.exe
/bin/gocyclo.exe
/bin/godef.exe
/bin/golint.exe
/bin/gopkgs.exe
/bin/gorename.exe
/bin/goreturns.exe
/bin/gox.exe
/bin/guru.exe
